@import "../../../scss/mixins";
.catalog {
	@include adaptiveValue("padding-bottom", 50, 30, 991.98, 320, 1);
	&__container {
		// position: relative; // DEL
	}
	&__text {
		font-weight: 700;
		font-size: rem(36);
		color: $colorBlue;
		&:not(:last-child) {
			margin-bottom: em(30, 36);
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		// grid-template-rows: rem(300);
		gap: rem(20);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__item {
		position: relative;
		overflow: hidden;

		&:hover > .catalog__content {
			background-color: rgba($color: $bgMain, $alpha: 0.7);
			height: 100%;
			display: block;
			& .catalog__lists {
				display: block;
			}
		}
	}
	&__image {
		// height: 100%;
		height: rem(300);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		position: absolute;
		// bottom: rem(10);
		// left: rem(10);
		width: 50%;
		left: 0;
		bottom: 0;
		padding: rem(10);
		// width: 100%;
		height: rem(60);
		transition:
			background-color 0.3s ease 0s,
			height 0.3s ease 0s;

		// ???
		display: flex;
		align-items: flex-end;

		@media (max-width: $mobileSmall) {
			width: 80%;
		}
	}
	&__title {
		display: inline-block;
		font-weight: 700;
		font-size: rem(20);
		color: $colorBlue;
		&:not(:last-child) {
			margin-bottom: em(10, 20);
		}
	}
	&__lists {
		display: none;
	}
	&__list {
		a {
			display: block;
			font-size: rem(18);
			color: $colorTernary;
			padding: rem(5) 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
